@media (max-width: 575px) {
    /* .main-info {
        min-width: 100%;
        height: 90px;
        border: 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .input-block {
        border: 1px solid;
    }
    .weather-mi {} */
}