@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@400;500;600;700&display=swap');
:root {
    --main-color: #461c73;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(227, 227, 227);
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: start;
    overflow: hidden;
}

.main-info {
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.input-block {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-block input {
    color: black;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 260px;
}

.input-block input::placeholder {
    color: black;
    font-size: 19px;
    font-weight: normal;
}

.input-block button {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: white;
    transition: transform 0.5s;
}

.input-block button:hover {
    background-color: black;
    color: white;
    border-radius: 25px;
}

.clear-search i {
    font-size: 45px;
}

button:hover {
    cursor: pointer;
    transform: scale(0.8);
}

.input-block i {
    font-size: 20px;
}

.weather-mi {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
}

.weather-mi img {
    width: 200px;
    height: 200px;
}

.temperature {
    color: black;
    font-weight: normal;
    font-size: 75px;
    margin-top: 15px;
}

.temperature span {
    font-weight: normal;
    position: absolute;
    font-size: 25px;
}

.current-day {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    border-bottom: 2px solid rgb(225, 225, 225);
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 30px;
    width: 100%;
}

.current-day span {
    font-weight: normal;
    font-size: 17px;
}

.description {
    margin-top: 25px;
    font-size: 22px;
    text-align: center;
}

.description i {
    color: rgb(201, 201, 201);
}

.rain-chance {
    margin-top: 10px;
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
}

.rain-chance i {
    color: rgb(5, 55, 193);
}

.weather-mi-location {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    border-top: 2px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 85px;
    padding-right: 85px;
}

.weather-mi-location i {
    font-size: 35px;
    margin-right: 10px;
}

.weather-mi-location p {
    font-size: 25px;
    margin-left: 5px;
}

.weather-mi-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}

.weather-mi-footer img {
    width: 70px;
    height: 70px;
}

.weather-mi-footer button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 160px;
    height: 60px;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 18px;
    transition: transform 0.5s;
}

.other-info {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 100px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    user-select: none;
    /* border-bottom: 2px solid rgb(203, 203, 203); */
}

.today-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.today-text {
    font-size: 25px;
    font-weight: bold;
    margin-left: 35px;
    border-bottom: 3px solid;
    padding-bottom: 5px;
}

.today-date {
    font-size: 20px;
    margin-left: 25px;
    color: #555555;
}

.temperature-type-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 150px;
    height: 80px;
    margin-left: 440px;
}

.temperature-type-block button {
    border-radius: 25px;
    color: black;
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.5s;
}

#current-temp-type {
    color: white;
    background-color: black;
}

.logo-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 80px;
    background-color: white;
    border-radius: 18px;
    margin-left: 0px;
    margin-right: 20px;
    user-select: none;
}

.logo-block p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 195, 255);
}

.logo-block img {
    width: 60px;
    height: 60px;
}

.saved-locations-block {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#saved-locations-title span {
    font-size: 18px;
    color: #555555;
    margin-left: 10px;
}

.subtitle {
    font-size: 19px;
    margin-left: 35px;
}

.saved-locations-items {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 15px;
}

.saved-locations-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 165px;
    height: 130px;
    background-color: white;
    border-radius: 18px;
    margin-left: 20px;
}

.saved-locations-item img {
    width: 40px;
    height: 40px;
}

.saved-locations-name {
    font-size: 23px;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.saved-locations-buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.saved-locations-item button {
    width: 35px;
    height: 35px;
    border-radius: 18px;
    color: white;
    background-color: black;
    font-size: 16px;
}

.weather-highlights-block {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}

.highlights-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 50px;
}

.highlights-items .highlights-item:nth-child(4),
.highlights-item:nth-child(5),
.highlights-item:nth-child(6) {
    margin-top: 20px;
}

.highlights-item {
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: white;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
    width: 330px;
    height: 180px;
    border-radius: 18px;
}

.highlights-item-title {
    font-size: 20px;
    color: grey;
}

.highlights-item-text {
    font-size: 45px;
    font-weight: bold;
}

.highlights-item-text span {
    font-size: 25px;
}

.status {
    font-size: 18px;
}

.highlights-item i {
    position: absolute;
    font-size: 50px;
    margin-left: 200px;
}

.error-block {
    width: 90%;
    height: 500px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.error-block p {
    text-align: center;
    font-size: 40px;
}

.error-block img {
    width: 150px;
    height: 150px;
}

#nothing {
    display: flex;
}